<tr>
  <td class='align-middle'><%= badge.title %></td>
  <td class='align-middle'><%= badge.image %></td>
  <td class='align-middle'><%= badge.rule %></td>
  <td class='align-middle'><%= badge.parameter %></td>
  <td class='align-middle'><%= link_to t('.show'), admin_badge_path(badge) %></td>
  <td class='align-middle'><%= link_to t('.edit'), edit_admin_badge_path(badge) %></td>
  <td class='align-middle'><%= link_to t('.delete'),admin_badge_path(badge), method: :delete, data: { confirm: t('.choice') } %></td>
</tr>
