<nav class="navbar navbar-light bg-light">
   <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome', user: current_user.first_name) %>|
      <%= link_to t('.admin_panel'), admin_tests_path if current_user.admin? %> |
      <%= link_to t('.log_out'), destroy_user_session_path, data: { method: :delete } %>
    <% else %>
      <%= link_to t('.sign_up'), user_session_path %> |
      <%= link_to t('.log_in'), new_user_session_path %>
  <% end %>
  </span>
</nav>
