<p>
 <strong><%= t('.title', title: @test.title) %></strong>
</p>

<p>
 <strong><%= t('.level', level: @test.level) %></strong>
</p>

<p>
 <h3><%= t('.questions') %></h3>
</p>

 <table>
   <tr>
     <th><%= t('.title') %></th>
     <th colspan="3"><%= t('.actions') %></th>
   </tr>

   <%= render @test.questions %>
 </table>
</p>

<%= link_to t('.new_test'), new_admin_test_question_path(@test.id) %> |
<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>
