<h2><%= t('tests.index.header') %></h2>

<table class="table table-striped">
  <tr class="table-primary">
    <th scope='col'><%= t('.title') %></th>
    <th scope='col'><%= t('.level') %></th>
    <th scope='col'><%= t('.questions') %></th>
  </tr>

  <%= render @tests %>
</table>
